<h1>비디오</h5>

{% comment %} <table>
    <tr>
        <td width="50%">
            <img src = "http://127.0.0.1:8000/mp/str/detectme/" style="width:800px; height:450px;" />
        </td>
    </tr>
</table> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script>
    function video_on(){
        $(div_id).html("<img src='http://127.0.0.1:8000/mp/str/signlanguage/' style='width:640px; height:360px;top:10%;margin:5px;border:3px solid #c2c7cc; border-radius: 7px;'/>");
        $(cam_button).html("<button id='from-button' type='button' onclick='video_off()' style='width:120px;height:35px;margin:10px;text-align:center;padding:5px;'>Translate</button>");
    }
    function video_off(){
        $(div_id).html("<p>Select Language</p>");
        $(cam_button).html("<button id='from-button' type='button' onclick='video_on()' style='width:120px;height:35px;margin:10px;text-align:center;padding:5px;'>Camera On</button>");
    }
</script>

<div style="width:100%;height:100%;padding:5%;display: flex;flex-direction: column;align-items: center;">

    <h2>Action and click <b>TRANSLATE</b></h2>
    <div style="width:100%;height:100%;padding:5%;display:flex;flex-direction:column;align-items: center;">
        <div style="width:100%;height:50vh;display:flex;flex-direction:row;align-items: center;">
            <div class="left" style="width:50%;height:100%;float: left; box-sizing: content-box;margin:auto;display: flex;flex-direction: column;align-items: center;">
                <div class="form-group" style="width:100%; display: flex;flex-direction:row;align-items: center;justify-content: center">
                    <label for ="to"><h3><b>Translate from </b></h3></label>  
                    <div id="cam_button" style="display: flex;flex-direction:row;">
                        <button id="from-button" type="button" onclick="video_on()" style="width:120px;height:35px;margin:10px;text-align:center;padding:5px;">Camera On</button>
                    </div>
                </div>
                <div id="div_id" style="margin-top:30px;">
                    <p> 1. Camera On 버튼을 눌러주세요. </p>
                    <p> 2. Translate 버튼을 눌러주세요. </p>
                    <p> 3. Language 를 선택해주세요. </p>
                </div>
            </div>
            <div style='top: 50%;'><img src='../static/img/arrow.png' style='width:100px; height:100px;margin:20px;'/></div>
            <div class="right" style="width:50%;height:100%;float: left; box-sizing: content-box;margin:auto;display: flex;flex-direction: column;align-items: center;">
                <div class="form-group" style="width:100%; display: flex;flex-direction:row;align-items: center;justify-content: center"> 
                    <label for ="to"><h3><b>Translate to </b></h3></label>          
                    <select id="select_to" name="to" onchange="show_area(this.id)" style="text-align:center; margin:10px; padding:5px">
                        <option value="none">Language</option>
                        <option value="braille">점자</option>
                        <option value="soundlanguage">음성</option>
                        <!-- <option value="text">텍스트</option> -->
                    </select> 
                </div>
                <div class="form-group">
                    <div id="div_id2" style="margin:auto;margin-top:8em;margin-bottom:4em"></div>
                </div>
            </div>
        </div>
        </div>